body{
  background-color: white;
}
.flex-container {
    display: flex;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: rgb(255, 0, 0);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
